<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_adminhtml_widget_buildwidget">
        <observer name="sga_widget_buildwidget" instance="Sga\Widget\Observer\Adminhtml\BuildWidget" />
    </event>
    <event name="controller_action_predispatch_adminhtml_widget_loadoptions">
        <observer name="sga_widget_loadoptions" instance="Sga\Widget\Observer\Adminhtml\LoadOptions" />
    </event>
</config>
